<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainable Shopper</title>
    <style>
        /* In order to place the tracking correctly */
        canvas.drawing,
        canvas.drawingBuffer {
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="index.html">Sustainable<span>Shopper</span></a>

            <img id="mobile-cta" class="menu-btn" src="{{ url_for('static', filename='images/menu.svg') }}"
                alt="Open Navigation">


            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="{{ url_for('static', filename='images/exit.svg') }}"
                    alt="Close Navigation">
                <ul class="primary-nav">
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>

                <ul class="secondary-nav">
                    <li><a href="#">Contact</a></li>
                    <li class="go-premium-cta"><a href="#">Sign In</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="hero">
        <div class="container">
            <div class="left-col">
                <p class="subhead">AI driven approach for Sustainable Consumerism</p>
                <h1>Sustainable Shopper</h1>
                <div class="hero-cta">
                    <!-- <a href="#" class="primary-cta">Try It Now!</a>
                    <a href="#" class="watch-video-cta">
                        <img src="" alt="Watch a video">Watch The Video
                    </a> -->
                </div>
            </div>
            <!-- <img src= "{{ url_for('video_feed') }}" alt="illustration" class="hero-img"> -->
            <!-- <video id="player" controls autoplay></video> -->
            <!-- <script>
                const player = document.getElementById('player');

                const constraints = {
                    video: true,
                };

                navigator.mediaDevices.getUserMedia(constraints)
                    .then((stream) => {
                        player.srcObject = stream;
                    });

            </script> -->

        </div>
        <div id="scanner-container"></div>


        <input type="button" id="btn" value="Start/ Stop barcode">
        <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>

        <script>
            var _scannerIsRunning = false;

            function startScanner() {
                Quagga.init({
                    inputStream: {
                        name: "Live",
                        type: "LiveStream",
                        target: document.querySelector('#scanner-container'),
                        constraints: {
                            width: 480,
                            height: 320,
                            facingMode: "environment"
                        },
                    },
                    decoder: {
                        readers: [
                            "code_128_reader",
                            "ean_reader",
                            "ean_8_reader",
                            "code_39_reader",
                            "code_39_vin_reader",
                            "codabar_reader",
                            "upc_reader",
                            "upc_e_reader",
                            "i2of5_reader"
                        ],
                        debug: {
                            showCanvas: true,
                            showPatches: true,
                            showFoundPatches: true,
                            showSkeleton: true,
                            showLabels: true,
                            showPatchLabels: true,
                            showRemainingPatchLabels: true,
                            boxFromPatches: {
                                showTransformed: true,
                                showTransformedBox: true,
                                showBB: true
                            }
                        }
                    },

                }, function (err) {
                    if (err) {
                        console.log(err);
                        return
                    }

                    console.log("Initialization finished. Ready to start");
                    Quagga.start();

                    // Set flag to is running
                    _scannerIsRunning = true;
                });

                Quagga.onProcessed(function (result) {
                    var drawingCtx = Quagga.canvas.ctx.overlay,
                        drawingCanvas = Quagga.canvas.dom.overlay;

                    if (result) {
                        if (result.boxes) {
                            drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                            result.boxes.filter(function (box) {
                                return box !== result.box;
                            }).forEach(function (box) {
                                Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                            });
                        }

                        if (result.box) {
                            Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
                        }

                        if (result.codeResult && result.codeResult.code) {
                            Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
                        }
                    }
                });


                Quagga.onDetected(function (result) {
                    console.log("Barcode detected and processed : [" + result.codeResult.code + "]", result);
                    window.location.href = "/results-" + result.codeResult.code;
                });
            }


            // Start/stop scanner
            document.getElementById("btn").addEventListener("click", function () {
                if (_scannerIsRunning) {
                    Quagga.stop();
                } else {
                    startScanner();
                }
            }, false);
        </script>
    </section>



    <section class="features-section">
        <div class="container">
            <ul class="features-list">
                <li>Real Time Searches</li>
                <li>Large Database</li>
                <li>User Friendly</li>
                <li>Reliable scores</li>
                <li>Environment Oriented</li>
                <li>Other Awesome Features!</li>
            </ul>
        </div>
    </section>

    <section class="contact-section">
        <div class="container">
            <div class="contact-left">
                <h2>Contact</h2>
                <form action="">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your Name Here">

                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10"
                        placeholder="Your Message Here"></textarea>

                    <input type="submit" class="send-message-cta" value="Send">
                </form>
            </div>
        </div>
    </section>

    <script>
        const mobileBtn = document.getElementById('mobile-cta')
        nav = document.querySelector('nav')
        mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        })
    </script>
</body>

</html>